html, body {
	height: 100%;
	background: black;
	font-family: 'Audiowide', cursive;

}

#frame { 
	width: 750px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid black;
	display: block;
}

#ctrlbox  {

}
